header {
    justify-content: center;
    background-color: #264653;
    color: #e76f51;
}

h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    justify-content: center;
}

header p {
    justify-content: center;
}

