header {
    justify-content: center;
    background-color: #264653;
    color: #e76f51;
}

h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
}

a:link    {color: blue}
a:visited {color: purple}
a:hover   {color: lightblue}
a:active  {color: darkblue}
