.dark-background {
    text-align: center;
    justify-content: space-around;
    height: 150px;
    background-color: #11122b;
    color: #cbcbcb;
}

.light-background {
    background-color: #cbcbcb;
    color: #11122b;
}

h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    justify-content: center;
    width: 100%;
}

a:link    {color: blue}
a:visited {color: purple}
a:hover   {color: lightblue}
a:active  {color: darkblue}
